name: Build and Deploy StudentCRUD API to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore
      run: dotnet restore StudentCRUDApi.sln

    - name: Build
      run: dotnet build StudentCRUDApi.sln --configuration Release --no-restore

    - name: Publish API
      run: dotnet publish StudentCRUD.Api/StudentCRUD.Api.csproj -c Release -o ./publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: student-crud-api
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish